body {
  margin: 0;
  padding: 0;
  font-family: tahoma,helvetica,arial,sans-serif;
}

table {
  margin: 0;
}
th, td {
  border: none;
  padding: 0;
}

form {
  padding: 0;
  margin: 0;
}

input.button,
button  {
  background-color: #f0f0f0;
  border: 1px outset #a0a0a0;
  padding: 2px 3px 1px 3px;
  cursor: pointer;
  background-image:url(http://yui.yahooapis.com/2.6.0/build/assets/skins/sam/sprite.png);
}

#player_container {
  position: relative;
  width: 480px;
  margin: auto;
}
